---
import MainLayout from '../layouts/MainLayout.astro'
// Supports weights 100-900
import '@fontsource-variable/noto-sans-mono'
import VK_Logo from '../../public/images/social_icons/vk.svg'
import { Image } from 'astro:assets'
---

<MainLayout title='ilya medve.dev'>
  <section>
    <h1 class='me'>ilya medve<span class='dot'>.</span>dev</h1>
    <div class='circle'>ice-cream | Student | Frontend-developer | React |</div>
    <div class='social'>
      <a href='https://vk.com/ilya_med' target='_blank' aria-label='VK'>
        <i class='fab fa-vk fa-2x'></i>
        <Image src={VK_Logo} alt='VK' />
        <a href='https://t.me/Terroo' target='_blank' aria-label='Telegram'>
          <i class='fab fa-telegram fa-2x'></i>
        </a>
        <a href='https://github.com/Terro216' target='_blank' aria-label='Github'>
          <i class='fab fa-github fa-2x'></i>
        </a>
        <a href='https://www.instagram.com/ilyamed216/' target='_blank' aria-label='Instagram'>
          <i class='fab fa-instagram fa-2x'></i>
        </a>
      </a>
    </div>
  </section>

  <script src='../scripts/circle.ts'></script>

  <style lang='scss' is:global>
    @use 'sass:math';

    $lettersCount: 51;
    $sector: calc(360deg / $lettersCount);
    @for $i from 0 through $lettersCount {
      $deg: $i * $sector;
      .letter-#{$i} {
        // margin-left: calc(-1 * 0rem);
        position: absolute;
        @if $deg < 90deg {
          //I
          bottom: calc(math.sin($deg) * var(--radius));
          left: calc(math.cos($deg) * var(--radius));
          transform: rotate(calc(90deg - $deg));
        } @else if $deg >= 90deg and $deg < 180deg {
          $deg: 180deg - $deg;
          //II
          bottom: calc(math.sin($deg) * var(--radius));
          left: calc(math.cos($deg) * var(--radius) * -1);
          transform: rotate(calc($deg - 90deg));
        } @else if $deg >= 180deg and $deg < 270deg {
          // III
          $deg: $deg - 180deg;
          bottom: calc(math.sin($deg) * var(--radius) * -1);
          left: calc(math.cos($deg) * var(--radius) * -1);
          transform: rotate(calc(270deg - $deg));
        } @else if $deg >= 270deg {
          /// IV
          $deg: 360deg - $deg;
          bottom: calc(math.sin($deg) * var(--radius) * -1);
          left: calc(math.cos($deg) * var(--radius));
          transform: rotate(calc($deg - 270deg));
        }
      }
    }
  </style>

  <style lang='scss'>
    @use '../assets/styles/_variables.scss' as *;

    section {
      height: 100vh; // - 32px - 5% = full page - iconSize - socialMargin
      height: 100lvh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: 'Noto Sans Mono Variable', sans-serif;
      font-size: 1em;
      @media screen and (max-width: $mobile) {
        justify-content: space-around;
        font-size: 1.2em;
      }
      h1.me {
        position: absolute;
        bottom: calc(50%);
        letter-spacing: 0.2em;
        color: rgb(141, 141, 141);
        .dot {
          color: white;
          padding: 0 10px;
          text-align: center;
          text-shadow:
            1px 1px 10px white,
            -1px 1px 10px blue,
            1px -1px 10px blue,
            -1px -1px 10px white;
        }
      }
      .circle {
        position: absolute;
        top: calc(50% - 32px);
        --radius: 300px; //20vmax;
        font-size: 1.1em;
        @media screen and (max-width: $mobile) {
          font-size: 0.9em;
          top: calc(25%);
        }
        // background-color: red;
        user-select: none;
        color: rgb(243, 240, 240);
      }

      .social {
        // height: 32px;
        position: absolute;
        bottom: 5%;
        display: flex;
        justify-content: space-around;
        width: 100%;
        color: rgb(168, 168, 168);
        a {
          display: block;
          text-decoration: none;
          color: inherit;
          filter: brightness(0.8);
          &:visited {
            color: inherit;
          }
          &:hover {
            filter: brightness(1.1);
          }
        }
      }
    }
  </style>
</MainLayout>
