<footer id='footer'>
  <span>
    Сайт разработан мной на <a href='https://astro.build/' target='_blank'>Astro</a>. Исходный код можно
    посмотреть на <a href='https://github.com/Terro216/ilyamedve.dev' target='_blank'>гитхабе</a>. А можно и
    не смотреть. :)
  </span>
</footer>

<style lang='scss'>
  @use '../assets/styles/_variables.scss' as *;
  footer {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
  }
</style>
