html 
    head 
        title= "i"
        link(rel='stylesheet', href='styles.scss')
        style. 
            @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');
        script(src="https://kit.fontawesome.com/f5c02b8de6.js", crossorigin="anonymous")
        script(src="circle.js")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        //- <!-- Yandex.Metrika counter -->
        script(type="text/javascript").
            (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();
            for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
            k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

            ym(82417162, "init", {
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
            });
        noscript
            div
                img(src="https://mc.yandex.ru/watch/82417162" style="position:absolute; left:-9999px;" alt="yandex metrica")
        //- <!-- /Yandex.Metrika counter -->

    body 
        header
            h1.me
                | ilya medve
                span(class="dot") .
                | dev
            .circle ice-cream | Student | Frontend-developer | React | 
            .social 
                a(href='https://vk.com/ilya_med', target='_blank')
                    i(class='fab fa-vk fa-2x')
                a(href='https://t.me/Terroo', target='_blank')
                    i(class='fab fa-telegram fa-2x')
                a(href='https://github.com/Terro216', target='_blank')
                    i(class='fab fa-github fa-2x')
                a(href='https://www.instagram.com/ilyamed216/', target='_blank')
                    i(class='fab fa-instagram fa-2x')
        main
            .projects 
