html 
    head 
        title= "hello"
        link(rel='stylesheet', href='styles.scss')
        style. 
            @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');

    body 
        h1 
            | ilya medve
            p .
            | dev