@use 'sass:math';

$mobile: 768px;
body {
	margin: 0;
	background: rgb(27, 24, 29);
	text-align: center;
}

header {
	height: calc(100vh - 32px - 5%); //full page - iconSize - socialMargin
	height: calc(100lvh - 32px - 5%); //full page - iconSize - socialMargin
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Noto Sans Mono', monospace;
	font-size: 1em;
	@media screen and (max-width: $mobile) {
		justify-content: space-around;
		font-size: 1.2em;
	}
	h1.me {
		letter-spacing: 0.2em;
		color: rgb(141, 141, 141);
		.dot {
			color: white;
			padding: 0 10px;
			text-align: center;
			text-shadow: 1px 1px 10px white, -1px 1px 10px blue, 1px -1px 10px blue, -1px -1px 10px white;
		}
	}
	.circle {
		position: relative;
		left: 1%;
		--radius: 300px; //20vmax;
		font-size: 1em;
		@media screen and (max-width: $mobile) {
			font-size: 0.6em;
			bottom: 8%;
			left: 8%;
		}
		//left: calc(50% + (7 * 1em));
		// width: 10px;
		// height: 10px;
		// background-color: red;
		color: rgb(243, 240, 240);
		$lettersCount: 51;
		$sector: calc(360deg / $lettersCount);
		@for $i from 0 through $lettersCount {
			$deg: $i * $sector;
			.letter-#{$i} {
				padding-top: calc(1 * 2rem);
				margin-left: calc(-1 * 2rem);
				position: absolute;
				@if $deg < 90deg {
					//I
					bottom: calc(math.sin($deg) * var(--radius));
					left: calc(math.cos($deg) * var(--radius));
					transform: rotate(calc(90deg - $deg));
				} @else if $deg >= 90deg and $deg < 180deg {
					$deg: 180deg - $deg;
					//II
					bottom: calc(math.sin($deg) * var(--radius));
					left: calc(math.cos($deg) * var(--radius) * -1);
					transform: rotate(calc($deg - 90deg));
				} @else if $deg >= 180deg and $deg < 270deg {
					// III
					$deg: $deg - 180deg;
					bottom: calc(math.sin($deg) * var(--radius) * -1);
					left: calc(math.cos($deg) * var(--radius) * -1);
					transform: rotate(calc(270deg - $deg));
				} @else if $deg >= 270deg {
					/// IV
					$deg: 360deg - $deg;
					bottom: calc(math.sin($deg) * var(--radius) * -1);
					left: calc(math.cos($deg) * var(--radius));
					transform: rotate(calc($deg - 270deg));
				}
			}
		}
	}
	.social {
		height: 32px;
		position: absolute;
		bottom: 5%;
		display: flex;
		justify-content: space-around;
		width: 100%;
		color: rgb(168, 168, 168);
		a {
			display: block;
			text-decoration: none;
			color: inherit;
			filter: brightness(0.8);
			&:visited {
				color: inherit;
			}
			&:hover {
				filter: brightness(1.1);
			}
		}
	}
}
