---
import SEO from '../components/SEO.astro'
import '@fontsource-variable/montserrat'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='ru' 🦎>
  <head>
    <title>i</title>
    <SEO />
  </head>

  <body>
    <slot />
    <style lang='scss' is:global>
      @use '../assets/styles/_variables.scss' as *;

      body {
        margin: 0;
        background: rgb(27, 24, 29);
        font-family: $base-font;
        color: $text-white;
        padding: 0 3%;
      }

      a {
        color: inherit;
      }
    </style>
  </body>
</html>
